<h1 id="main_h1" style="margin-left:0px;font-size: 48px;">Tickets</h1>

<table class="table" ng-if="displayTickets">
  <thead class="">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Number of Lines</th>
      <th scope="col">View Ticket</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in tickets">
      <td>{{ticket.ID}}</td>
      <td>{{ticket.number_of_lines}}</td>
      <td><button type="button" class="btn btn-success" ng-click="openTicket(ticket)">View</button></td>
    </tr>
  </tbody>
</table>

<table class="table" ng-if="displayLines">
  <thead class="">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Number One</th>
      <th scope="col">Number Two</th>
      <th scope="col">Number Three</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in tickets">
      <td>{{ticket.id}}</td>
      <td>{{ticket.id}}</td>
      <td>{{ticket.id}}</td>
      <td>{{ticket.id}}</td>
      <td ng-if="line.result">{{line.result}}</td>
      <td ng-if="!line.result"><button type="button" class="btn btn-success" ng-click="">Get Result</button></td>
    </tr>
  </tbody>
</table>

<button id="" type="button" ng-if="displayTickets" class="btn btn-info float-right" ng-click="goHome('/')">Back</button>
<button id="" type="button" ng-if="displayLines" class="btn btn-info float-right" ng-click="swapViews()">Back</button>